@import "tailwindcss";

/*Variables*/
:root {
  --bgColour: rgb(237, 211, 182);
  --bgLatte: #e8d6c3;  
  --bgMilk: #ede6de;  
  --bgGreen: #18c615;
  --bgGreener: #bc7c16;
  --bgCoffier: rgb(210, 185, 160);
  --bgMacc: rgb(196,168,140);
  --bgCort: rgb(178,150,120);
  --bgCapuch: rgb(84,70,58);
  --bgExpr: rgb(53, 40, 4);
  --Gold: rgb(176, 137, 46);
  --Sun: rgb(245, 178, 21);
  

  --background: var(--bgMilk); /*page bg*/
  --foreground: var(--bdExpr); /*main text*/
  
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

header{
  background-color: var(--bgGreener);
}

body {
  background-color: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans,  Arial, Helvetica, sans-serif);
}

form  {
  background-color: var(--bgCort);
}

.textarea  {
  width: 100%;
  min-height: 80px;
  border: 1px solid black;
  background-color: var(--bgMilk);
  padding: 10px;
  font-size: 1rem;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}


