/* Forms 8*/

.formLabel {
    display: flex;
    flex-direction: column;
    margin-top: 0.75rem;
}

.formLabel label{
    font-size: 0.8rem;
    font-weight: 500;
    color: #6b7280;
}

.formInput {
    width: 100%;
    border: 1px solid #d1d5db;
    border-radius: 0.5rem;
    padding: 0.6rem 0.75rem;
    font-size: 0.95rem;
    background: white;
    transition: border 0.15s ease, box-shadow 0.15s ease;
    /*margin-bottom: 1rem;*/
}

.formInput:focus {
    border-color: var(--Sun);
    box-shadow: 0 0 0 2px var(--bgExpr);
}

